<!DOCTYPE html>
<html>
<head>
	
<meta charset="UTF-8">
<title>ask the vet</title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<style>
	body{
	background-color:purple}
</style>
</head>

<body>
<h2>Fish Creek Animal Hospital</h2>
<div>
<ul>
<li><a href="home page">home</a></li>
<li><a href="service page">service</a></li>
<li><a href="contact page">contact</a></li>
<li><a href="ask the vet page">ask the vet page</a></li>
</ul>
<br>

</div>
<div>

</dl>
	<dt>full service facility</dt>
	<dd>Veterian and staff are on duty 24hours a day,7days a week</dd>
	<dt>years of experience</dt>
	<dd>fish creek veterians have provided quality,dependable care for your loved animals since 1984</dd>
	<dt>open door policy</dt>
	<dd>our professionals welcome owners to stay with their pets during any medical procedure</dd>	
	
</div>
<br>
<div>
1-800-555-5555<br>
1442 grassy lane<br>
fish creek WI 55534<br>
</div>
<br>
<div id="footer">
<p><i>copyright 2013 fish creek animal hospital</i></p>
<a href="yourlastname.com">ourfirstname@yourfirstname.com</a>

sitepage
</div>